.bg{ background-color: var(--primary-color); border-color: var(--primary-color);}
.custom-outline-btn {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
}
.custom-outline-btn:hover {
    color: white;
    background-color: var(--primary-color);
}
:host ::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 19px;
}
:host ::ng-deep .mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline__leading,
:host ::ng-deep .mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline__notch,
:host ::ng-deep .mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline__trailing{
    border-color: var(--primary-color) !important;
}
/* Chrome, Safari, Edge, and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}